body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.img {
    width: 100vh;
    height: 20vh;
}

.ticker {
  overflow: hidden;
  height: 20vh; /* matches image height */
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 12s linear infinite;
}

.track img {
  width: 100vh;
  height: 20vh;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300vh);
  }
}

#heartbeat {
    color: red;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    font-size: 10vh;
}

.skewet-glaze {
    z-index: -1;
    position: absolute;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    font-size: 1vh;
}

.bait-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.bait-text {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black; 
  font-size: 3vh;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

#make-it-stop {
  position: absolute;
  font-size: 3vh;
}

#jumpscare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  opacity: 0;
  display: none;
  z-index: 9999;
}